In [1]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import pandas as pd

In [2]:
df = pd.read_csv('adult.csv')
print(df.shape)
df.head()

(32561, 15)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
def encodingData(data_set):
    for column in data_set.columns:
        if data_set[column].dtype == 'object':
            le = LabelEncoder()
            data_set[column] = le.fit_transform(data_set[column])
    return data_set

In [4]:
df = encodingData(df)
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,0,77053,11,9,6,0,1,4,0,0,4356,40,39,0
1,82,4,132870,11,9,6,4,1,4,0,0,4356,18,39,0
2,66,0,186061,15,10,6,0,4,2,0,0,4356,40,39,0
3,54,4,140359,5,4,0,7,4,4,0,0,3900,40,39,0
4,41,4,264663,15,10,5,10,3,4,0,0,3900,40,39,0

In [5]:
#df_attributes = df.drop("income", axis=1).values
#df_class = df["income"].values
#print(df_attributes.shape)
#print(df_class.shape)

In [6]:
def split_data(data_set, attribute):
    attributes = data_set.drop(attribute, axis=1).values
    classes = data_set[attribute].copy()
    return attributes, classes

In [7]:
df_attributes, df_class = split_data(df, "income")

In [8]:
x_train, x_test, y_train, y_test = train_test_split(df_attributes, df_class, test_size=0.2, random_state=0)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(26048, 14) (26048,)
(6513, 14) (6513,)

In [9]:
#create model
model = GaussianNB()

In [10]:
 #train model
model.fit(x_train, y_train)

GaussianNB()

In [11]:
#predict
y_pred = model.predict(x_test)

In [12]:
#accuracy
accuracy = accuracy_score(y_test, y_pred)*100
print("Accuracy: %.3f" %accuracy, "%")

Accuracy: 79.779 %